<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  
  <appSettings>
    <add key="password_length" value="12" />
    <add key="domain" value="DOOMS" />
    <add key="password" value="admin@123" />
    <add key="username" value="Administrator" />
    <add key="server_ip" value="192.168.56.200" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
</configuration>